@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Montserrat;
}
body{
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
}
.container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-between; /* Espaça os elementos */
  padding: 50px 10%;
  gap: 40px; /* Espaço entre texto e imagem */
}

.content {
  flex: 1; /* Faz o texto ocupar metade do espaço */
}

.image-placeholder {
  flex: 1; /* Faz a imagem ocupar a outra metade */
  height: 300px;
  border-radius: 8px;
}

/* Classe para inverter a ordem na segunda seção */
.reverse {
  flex-direction: row-reverse;
}

